/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/ports/
/vendor/
.*.installed
/Gemfile.lock
/ext/cmetrics/*.a
/lib/cmetrics/cmetrics.so
/lib/cmetrics/cmetrics.bundle
/ext/cmetrics/cmetrics/
/ext/cmetrics/monkey/